<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Sun Pass</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" id="pass_list">
    <div class="row text-center">
        <h1>{{title}}</h1><input id="publicStr" type="hidden" value="{{publickey}}">
        <br>
    </div>
    %if user:
    <button id="logout" class="btn center-block" style="margin: 10px"
            v-on="click: logoutClick">Logout
    </button>
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Label</th>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Operating</th>

                </tr>
                </thead>
                <div class="loading text-center"><h2>Loading...</h2></div>
                <tbody class="datarow hide">
                <tr v-repeat="item in items">
                    <td>
                        <input id="item_label_[[$index]]" class="form-control" type="text" data-toggle="tooltip"
                               data-placement="right" title="click to go"
                               v-readonly="item.control.status | ZHstatus 'show' 'readonly'"
                               v-model="item.model.label"
                               placeholder="Label" style="width:60%;height:100%"
                               data-original-title="[[item.control.status | ZHstatus 'show' 'title']]"
                               v-on="click: labelClick(item)">
                        <input id="item_url_[[$index]]"
                               class="form-control [[item.control.status | ZHstatus 'edit' 'class']]" type="text"
                               v-model="item.model.url"
                               placeholder="Website" style="width:60%;height:100%">
                    </td>
                    <td>
                        <input id="item_user_[[$index]]" class="form-control" type="text"
                               v-readonly="item.control.status | ZHstatus 'show' 'readonly'"
                               v-model="item.model.user"
                               placeholder="UserName" style="width:60%;height:100%">
                    </td>
                    <td>
                        <div data-toggle="tooltip" data-placement="left" title="click to copy">
                            <div
                                    class="copy btn btn-default"
                                    v-class="item.control.status | ZHstatus 'show' 'class'"
                                    data-clipboard-text="[[item.model.password]]" style="margin: 10px">copy
                            </div>
                        </div>
                        <button
                                class="btn [[item.control.status | ZHstatus 'edit' 'class']]"
                                style="margin: 10px"
                                v-on="click: randomClick(item)">Random
                        </button>
                        <span class="[[item.control.status | ZHstatus 'edit' 'class']]">
                            len: [[item.model.password.length]]
                        </span>
                    </td>
                    <td>
                        <button class="btn [[item.control.status | ZHstatus 'show' 'class']]" style="margin: 10px"
                                v-on="click: editClick(item)">Edit
                        </button>
                        <button class="btn btn-warning [[item.control.status | ZHstatus 'edit' 'class']]"
                                style="margin: 10px"
                                v-on="click: closeClick(item)">Don't Save
                        </button>
                        <button class="btn btn-success [[item.control.status | ZHstatus 'edit' 'class']]"
                                style="margin: 10px"
                                v-on="click: saveClick(item)">Save
                        </button>
                        <button class="btn btn-danger [[item.control.status | ZHstatus 'edit' 'class']]"
                                style="margin: 10px"
                                v-on="click: deleteClick($index,item)">Delete
                        </button>
                    </td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <button class="btn btn-success" v-on="click: addClick">Add</button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <h1>copy succeed</h1>
                </div>
                <div class="modal-footer hide">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    %else:
    <div class="row">
        <div class="center-block" style="width: 200px;">
            <div class="form-group">
                <label>
                    UserName
                    <input id="user" class="form-control" type="text">
                </label>
            </div>
            <div class="form-group" style="">
                <label>
                    Password
                    <input id="pass" class="form-control" type="password">
                </label>
            </div>
            <div class="form-group text-center">
                <input id="submit" type="button" class="btn btn-success" value="Login">
            </div>
        </div>
    </div>
    %end
</div>
<script src="/static/js/cryptico.min.js"></script>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/commonLibs.js"></script>
%if user:
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/ZeroClipboard.min.js"></script>
<script src="/static/js/base64.js"></script>
<script language="JavaScript" src="/static/js/mainPage.js?v={{versions}}"></script>
%else:
<script language="JavaScript" src="/static/js/loginPage.js?v={{versions}}"></script>
%end
</body>
</html>
