<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Sun Pass</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="row text-center">
        <h1>{{title}}</h1><input id="publicStr" type="hidden" value="{{publickey}}">
        <br>
    </div>

    <div class="container">
        <div class="row">
            <div class="center-block" style="width: 200px;">
                <div class="form-group">
                    <label>
                        UserName
                        <input id="user" class="form-control" type="text">
                    </label>
                </div>
                <div class="form-group" style="">
                    <label>
                        Password
                        <input id="pass" class="form-control" type="password">
                    </label>
                </div>
                <div class="form-group" style="">
                    <label>
                        Password Again
                        <input id="pass_again" class="form-control" type="password">
                    </label>
                </div>
                <div class="form-group text-center">
                    <input id="submit" type="button" class="btn btn-success" value="Register">
                </div>
            </div>
        </div>
    </div>





<script src="/static/js/cryptico.min.js"></script>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/commonLibs.js"></script>

<script src="/static/js/vue.min.js"></script>
<script src="/static/js/ZeroClipboard.min.js"></script>
</body>
</html>